<!DOCTYPE html>
<html>
  <head>
    <title>KeePet</title>
    <link rel='stylesheet' href='/stylesheets/owner.css' />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  </head>
  <body>
    
    <%- include body_header.ejs %> 

    <div class="container">
      <div class="row" style="display:flex; flex-wrap: wrap;">
        <% allKeeperPosts.forEach(function(post) { %>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <img src="http://localhost:3000<%= post.pets[0].photo %>" >
              <div class="caption">
                <% if(post.pets.length === 1) { %>
                  <h4><%= post.pets[0].name %></h4>
                <% } else if(post.pets.length === 2) { %>
                  <h4><%= post.pets[0].name %> and <%= post.pets[1].name %></h4>
                <% } else { %>
                  <h4><%= post.pets[0].name %>, <%= post.pets[1].name %> and more..</h4>
                <% } %>
                <h5>From <%= post.start_date.substring(0, 10) %> to <%= post.end_date.substring(0, 10) %></h5>
              </div>
              <p>
                  <a href="#" class="btn btn-success btn-sm moreinfo">More Info</a>
              </p>
            </div>
          </div>
        <% }); %>
      </div>
    </div>


  </body>
</html>
