<!DOCTYPE html>
<html>
    <head>
        <%- include head_commons.ejs %>      
        <link rel="stylesheet" href="../stylesheets/manage.css">
    </head>
    <body>

        <%- include body_header.ejs %> 
		
		<div class="container" id="mainContent">
			<% for(var i = 0; i < pets.length; i++) { %>
				<h3>Your Pet Profiles</h3>
				<hr/>
				<div class="listContent">
					<h4>Name</h4>
					<div><%= pets[i].name %></div>
					<hr/>
				</div>
				<div class="listContent">
					<h4>Category</h4>
					<div><%= pets[i].modelName %></div>
					placeholder="Cat">
					<hr/>
				</div>
				<div class="listContent">
					<h4>Sex</h4>
					<div><%= pets[i].sex %></div>
					placeholder="Male">
					<hr/>
				</div>
				<div class="listContent">
					<h4>Age(in month)</h4>
					<div><%= pets[i].age_month %> months</div>
					<hr/>
				</div>
				<div class="listContent">
					<h4>Breed Name</h4>
					<div><%= pets[i].breedName %></div>
					<hr/>
				</div>
				<div class="listContent">
					<h4>Description</h4>
					<div><%= pets[i].description %></div>
					<hr/>
				</div>
			<% } %}
		</div>
        
    </body>
</html>